<app-header breadcrumb="Editar Usuario" title="Editar Usuario"></app-header>
<div class="container mt-4 padding-container">
  <h2>Editar Usuario</h2>
  <form (ngSubmit)="updateUser()">
    <div class="form-group">
      <label for="nombreUsuario">Nombre de Usuario</label>
      <input
        type="text"
        id="nombreUsuario"
        class="form-control"
        [(ngModel)]="updatedUser.nombreUsuario"
        name="nombreUsuario"
        required
      />
    </div>

    <div class="form-group">
      <label for="contrasena">Contraseña</label>
      <input
        type="password"
        id="contrasena"
        class="form-control"
        [(ngModel)]="updatedUser.contrasena"
        name="contrasena"
      />
    </div>

    <div class="form-group">
      <label for="correo">Correo Electrónico</label>
      <input
        type="email"
        id="correo"
        class="form-control"
        [value]="currentUser?.correo"
        disabled
      />
    </div>

    <div class="form-group">
      <label for="rol">Rol</label>
      <input
        type="text"
        id="rol"
        class="form-control"
        [value]="currentUser?.rol"
        disabled
      />
    </div>

    <button type="submit" class="btn btn-primary mt-3">Guardar Cambios</button>
    <button class="btn btn-secondary mt-3" (click)="cancel()">Cancelar</button>
  </form>
</div>