<app-header breadcrumb="Carrito de Compras" title="Carrito de Compras"></app-header>
<div class="container padding-container">
  <h2>Tu Cesta</h2>
  <div *ngIf="cartItems.length > 0; else emptyCart">
    <table class="table">
      <thead>
        <tr>
          <th>Producto</th>
          <th>Precio</th>
          <th>Cantidad</th>
          <th>Total</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of cartItems">
          <td>{{ item.nombre }}</td>
          <td>{{ item.precio | currency }}</td>
          <td>
            <input type="number" [value]="item.quantity" (change)="updateQuantity($event, item.id)" class="form-control" />
          </td>
          <td>{{ (item.precio * item.quantity) | currency }}</td>
          <td>
            <button (click)="removeFromCart(item.id)" class="btn btn-danger">Eliminar</button>
          </td>
        </tr>
      </tbody>
    </table>
    <div class="text-right">
      <h3>Total: {{ total | currency }}</h3>
      <button (click)="proceedToCheckout()" class="btn btn-primary">Ir a Checkout</button>
    </div>
  </div>
  <ng-template #emptyCart>
    <p>Tu cesta está vacía.</p>
  </ng-template>
</div>
