<app-header breadcrumb="Mi Cuenta" title="Mi Cuenta"></app-header>
<div class="container mt-4 padding-container">
    <h2>Información de la Cuenta</h2>
    <div *ngIf="user">
        <p><strong>Nombre de Usuario:</strong> {{ user.nombreUsuario }}</p>
        <p><strong>Correo:</strong> {{ user.correo }}</p>
        <p><strong>Rol:</strong> {{ user.rol }}</p>
        <button (click)="logout()" class="btn btn-danger mt-3">Cerrar Sesión</button>

        <h3 class="mt-4">Mis Órdenes</h3>
        <div *ngIf="orders.length === 0">
        <p>No tienes órdenes aún.</p>
        </div>
        <div *ngIf="orders.length > 0">
        <table class="table">
            <thead>
            <tr>
                <th># Orden</th>
                <th>Fecha</th>
                <th>Estado</th>
                <th>Total</th>
                <th>Acciones</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let order of orders">
                <td>{{ order.id }}</td>
                <td>{{ order.fechaPedido }}</td>
                <td>{{ order.estado }}</td>
                <td>{{ order.total | currency: 'PEN': 'symbol': '1.2-2' }}</td>
                <td>
                <a [routerLink]="['/cuenta/order-details', order.id]" class="btn btn-primary btn-sm">Ver Detalles</a>
                </td>
            </tr>
            </tbody>
        </table>
        </div>
    </div>
    <div *ngIf="!user">
        <p>Debes iniciar sesión para acceder a tu cuenta.</p>
    </div>
</div>