<nav class="navbar navbar-expand-lg navigation fixed-top" id="navbar">
	<div class="container-fluid">
		<a class="navbar-brand" routerLink="">
			<h2 class="text-white text-capitalize">Suple<span class="text-color">Pro</span></h2>
		</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsid"
			aria-controls="navbarsid" aria-expanded="false" aria-label="Toggle navigation">
			<span class="ti-view-list"></span>
		</button>
		<div class="collapse text-center navbar-collapse" id="navbarsid">
			<ul class="navbar-nav mx-auto">
				<li class="nav-item active"><a class="nav-link" routerLink="">Inicio</a></li>
				<li class="nav-item"><a class="nav-link" routerLink="tienda/categoria/suplementos">Suplementos</a></li>
				<li class="nav-item"><a class="nav-link" routerLink="tienda/categoria/barritas-snacks">Barritas y Snacks</a></li>
				<li class="nav-item"><a class="nav-link" routerLink="tienda/categoria/ropa">Ropa</a></li>
				<li class="nav-item"><a class="nav-link" routerLink="tienda/categoria/vitaminas">Vitaminas</a></li>
			</ul>
			<div class="my-md-0 ml-lg-4 mt-4 mt-lg-0 ml-auto text-lg-right mb-3 mb-lg-0">
				<!-- Iconos de cuenta y cesta -->
        <div class="flex-ca" style="display: flex; gap: 20px;">
          <a routerLink="/cuenta" class="me-3 text-decoration-none" style="color: #fff;">
            <i class="fas fa-user"></i> Cuenta
          </a>
          <a routerLink="/cesta" class="text-decoration-none" style="color: #fff;">
            <i class="fas fa-shopping-cart"></i> Cesta
          </a>
        </div>
			</div>
		</div>
	</div>
</nav>

<router-outlet> </router-outlet>

<!-- footer Start -->
<footer class="footer bg-black-50">
	<div class="container">
		<div class="row">
			<div class="col-lg-6 col-md-6 mb-5 mb-lg-0">
				<a class="navbar-brand" href="index.html">
          <h2 class="text-white text-capitalize">Suple<span class="text-color">Pro</span></h2>
        </a>
				<p>La mejor tienda de suplemento para gimansio de cajamarca, somos importadores directos de EEUU.</p>

				<p>Compra nuestro productos de calidad y obten un cambio.</p>
			</div>
			

			
			<div class="col-lg-3 col-md-5 mb-5 mb-lg-0">
				<div class="footer-widget">
					<h4 class="mb-4 text-white letter-spacing text-uppercase">Enlaces Rápidos</h4>
					<ul class="list-unstyled footer-menu lh-40 mb-0">
						<li><a routerLink=""><i class="ti-angle-double-right mr-2"></i>Inicio</a></li>
						<li><a routerLink="/consejosdeexpertos"><i class="ti-angle-double-right mr-2"></i>Consejos de Expertos</a></li>
						<li><a routerLink="/ayuda"><i class="ti-angle-double-right mr-2"></i>Ayuda (FAQ)</a></li>
						<li><a routerLink="/contactanos"><i class="ti-angle-double-right mr-2"></i>Contáctanos</a></li>
					</ul>
				</div>
			</div>
			<div class="col-lg-3 col-md-5">
				<div class="footer-widget">
					<h4 class="mb-4 text-white letter-spacing text-uppercase">Home location</h4>
					<p>Jr. Los Olivos 119 Urb. El Ingenio - Cajamarca</p>
					<span class="text-white">(+51) 965 455 987</span><br>
					<span class="text-white">info&#64;suplepro.com</span>
				</div>
			</div>
		</div>

		<div class="row align-items-center mt-5 px-3 bg-black mx-1">
			<div class="col-lg-4">
				<p class="text-white mt-3">SuplePro © 2024 , Proyecto realizado por <a routerLink="" class="text-color">Grupo 1</a></p>
			</div>
			<div class="col-lg-6 ml-auto text-right">
				<img src="images/cards.png" alt="Card Image" style="
				max-width: 190px;
				width: 100%;
			">
			</div>
		</div>
	</div>
</footer>
<!-- Section Footer End -->